<div *ngIf="post$ | async as post">
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>

  <button class="button is-danger" (click)="deletePost()" *ngIf="auth.canDelete(user)">

    Delete Post
  </button>

  <button class="button is-warning" (click)="editPost()" *ngIf="auth.canEdit(user)">

    Edit Post
  </button>

</div>

<div *ngFor="let tip of tips | async">
  <h1>{{ tip.pick }}</h1>
  <p>{{ tip.sportsbook }}</p>
  <p>{{ tip.odd }}</p>
  <p>{{ tip.playAt.seconds * 1000 | date: 'EEEE, MMMM d, y - HH:mm' }}</p>
  <p>{{ tip.tipID }}</p>

  <button class="button is-danger" (click)="deletePost()" *ngIf="auth.canDelete(user)">

    Delete Post
  </button>

  <button class="button is-warning" (click)="editPost()" *ngIf="auth.canEdit(user)">

    Edit Post
  </button>
</div>

